<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/Layout.css" rel="stylesheet" />

    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="visible-xs">
        @Html.Action("Menu", "Nav", new { horizontalLayout = true })
    </div>

    <div class="row panel">
        <div id="genres" class="col-sm-2 hidden-xs">
            @Html.Action("Menu", "Nav")

        </div>
        <div class="col-xs-12 col-sm-8">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - GreenSol</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
